/* from EmotionList.js */
.tasks-list {
    display: flex;
    border: 2px solid green;
}

.addTaskBtn {

}

/* from EmotionDetail.js */
.emotion {

}

/* shared by EmotionDetail.js and EmotionCard.js */
.card {
 display: flex;
 flex-direction: column;
 background-color: lightyellow;
}

.card-body {

}

.card-title {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    justify-content: center;
}

/* from EmotionCard.js */
.task-link {

}
