.header {
    text-align: center;
    color: #F1F1F2;
}

.header-add-task {
   background-color: #BCBABE;
    
}

.container {
    display:flex;
    flex-basis: 100%;    
    background-color: #1995AD;
    
}

.emotions-list {
    display: flex;
    flex-direction: row;
    flex-basis: 63%;
}

.examples-list {
    display: flex;
    border: 2px solid black;
    flex-direction: column;
}

.right {
    display: flex;
    flex-basis: 37%;
}
.top-right {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}
.bottom-right{
    /* display: flex;
    flex-basis: 100%; */
}

.tasks-list {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    flex-direction: column;
    background-color: #A1D6E2;
    padding-bottom: 15px;
}

.add-form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addTaskBtn {
    margin-left: 30px;
}
.editTaskBtn {
    margin-right: 12px;
}
.delTaskBtn {

}

.header-add-task {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: center;
    background-color: #F1F1F2;
}

/* EmotionList.js */
.card {    
    display: flex;
    flex-direction: column;
    margin: 2px;
    padding: 5px;
    background-color: #F1F1F2;
    text-align: center;
        
}

.card-img {

}

.card-body {

}

.card-title {
    background-color: #1995AD;
    padding: 10px;
}

.card-subtitle {
    background-color: #A1D6E2;
}

.card-text {
    background-color: #BCBABE;
}

/* TaskList.js */
.task-card {
    display: flex;
    flex-direction: column;    
    justify-content: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    border: 1px solid black;
    padding-bottom: 12px;
    background-color: #F1F1F2;
    
}

.bottom-line {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-right: 15px; 
}

.top-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

.emotion-name {
    font-weight: bold;
    color: #1995AD;
}

.task-card-body {
    
}

/* ExamplesList */
.examples-card {
    display: flex;
    flex-direction: column;
    background-color: li;
}

.examples-card-body {
    background-color: violet;
    font-size: .8em;
}

.examples-card-title {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    justify-content: center;
}


