/* List.css */

/* **********  THESE STYLES ARE IN EmotionList.js (in order of use)  ********** */
.container {
    display: flex;
    border-radius:10px;
    padding-left: 15px;
    padding-bottom: 15px;
    max-width: 98%;
    overflow: auto;
    background-size: 100%;
    overflow-y: scroll;
    align-items: baseline;        
    background-color: #438945;
    margin-left: auto;
    margin-right: auto;       
}
.left {
    display: flex;
    flex-direction: column;
    flex-basis: 65%;
    margin-right: 15px;
}
.emotions-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;    
    margin-right: 7px;
    background-color: #438945;       
}
.bottom-left {
    background-color: #fefce9;
    display: flex;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 2px;
    min-height: 170px;
    border-radius:5px;    
}
.search {
    display: flex;
    flex-basis: 40%;
    flex-wrap: wrap;
    flex-basis: column;
    border: 5px solid #eba63f;
    background-color: #fefce9;    
    background-image: url("./pencil2.jpg");
    margin: 7px;
    max-width: 100%;
    height: 170px;
    background-size: 100% 100%;
    color: #fefce9;
    /* opacity:  0.8; */
    border-radius:5px;
}
.listArticlesBtn {    
    background: #eba63f;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color: #e0f6f6;
    border-radius:10px;
    border: #fefce9 2px solid;    
    margin-top:5px;
    margin-bottom:20px;
    margin-left:10px;
    font-weight:600;
    font-size: .9em;
}
.reflect {
   margin-left: 40px;
}
.article-input {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
}
.entry-textarea {
    background-color: #fefce9;
}
.journal-article {
    border: 5px solid #eba63f;
    background-image: url("./Pencil.jpg");
    margin: 7px;
    flex-basis: 60%;
    height: 170px;   
    background-color: #fefce9;
    border-radius:5px;
}
.addArticleBtn {
    background: #eba63f;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color: #e0f6f6;
    border-radius:10px;
    border: #fefce9 2px solid;    
    margin-right: 10px;
    margin-left: 410px;
    font-weight:600;
    font-size:0.8em;   
}
.right {
    display: flex;
    flex-basis: 35%;
    /* background-color: #3cbcc3; */
    background-color: #e40c2b;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    border-radius: 5px;
    background-color: #fefce9;
}
.top-right {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    background-color: #e40c2b;
}
.header {
    text-align: center;
    color: #fefce9;
}
.to-be-header {
    font-size: 1.1em;
}
.header-add-task {
    display: flex;
    flex-direction: row;
    /* border: 7px solid #3cbcc3; */
    /* border: 2px solid #288d92; */
    justify-content: center;
    background-color: #fefce9;
    /* border-radius:5px;    */
}
.addTaskBtn {
    background: #eba63f;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color: black;
    border-radius:10px;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:16px;
    font-weight:500;
    font-size:1.1em;
  } 
.tasks-list {
    display: flex;
    flex-direction: column;
    border-radius:5px;
}


/* **********  THESE STYLES ARE IN EmotionCard.js (in order of use)  ********** */
.cardE {    
    display: flex;
    flex-direction: column;
    /* min-width: 12.5%; */
    min-height: 356px;
    margin: 2px;
    padding: 5px;
    background-color: #fefce9;
    text-align: center;
    border-radius:5px;
    position: relative;             
}
.cardE-img {
}
/* This is the css for emotions.emotionName */
.cardE-title {
    background-color: #e40c2b;
    padding: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #fefce9;
    border-radius:5px;
    
    position: relative;
}
/* This is the css for emotions.giftTitle */
.cardE-gift-subtitle {
    background-color: #eba63f;
    padding: 5px;
}
/* This is the css for emotions.gift */
.cardE-gift-text {
    font-size: .8em;
    border: 2px solid #eba63f;
    margin-top: 0;
    padding: 5px;
    margin-bottom: 5px;
}
/* This is the css for IMPAIRMENT: */
.cardE-impairment-subtitle {
    background-color: #eba63f;
    padding: 5px;
}
/* This is the css for emotions.impairment */
.cardE-impairment-text {
    font-size: .9em;
    border: 2px solid #eba63f;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: .9em;   
}
.detailBtn {
    border: 2px solid eba63f;
    background-color: #fefce9;
    border-radius: 5px;
    font-size: .9em;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    margin-top: 326px;
    
}
.modal-body {
    padding: 5px;
    width: 950px;
    border: 7px solid #438945;
}


/* **********  THESE STYLES ARE IN TaskCard.js (in order of use)  ********** */
.cardT {    
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #fefce9;
    text-align: center;
}
.top-line {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    margin-left: 1px;
    margin-right: 1px;
    background-color: #3cbcc3;
}
.emotion-name {
    font-weight: bolder;
    color: black;
}
.editBtn {
    margin-right: 10px;
    margin-left: 10px;
    border-radius:5px;
    border: 2px solid #3cbcc3;
    background-color: #fefce9;
    width: 50px;
}
.delBtn {
    margin-right: 10px;
    border-radius:5px;
    border: 2px solid #3cbcc3;
    background-color: #fefce9;
    width: 50px;
}
.check-box {
    color: #3cbcc3;
    font-size: 5em;
}
.bottom-line {
    display: flex;
    flex-wrap: wrap;
    background-color: #fefce9;
    padding: 5px;
    font-weight: 500;
    margin-left: 1px;
    margin-right: 1px;
    text-align: left;
    border: 2px solid #3cbcc3;
}


/* **********  THESE STYLES ARE IN EmotionCard.js (in order of use)  ********** */
.articles-list { 
    background-image: url("./lantern.jpg");    
    border-radius:30px;
    margin: 0 auto 0 auto;
    padding: 5px;
    border: #438945 15px solid;
    max-width: 90%;
    overflow: auto;
    background-size: 100%;
    opacity:  0.85;
    overflow-y: scroll;
}
.cardA {
    display: block;
    max-height: 110px;
    width:800px;
    float: right; 
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    padding:7px;
    border: #eba63f 3px solid;
    outline: 7px solid black;
    overflow-y: scroll;      
    background-color: #fefce9;    
}
.top-lineA {
    display: flex;
    flex-wrap: nowrap;
    background-color: #eba63f;
    min-height: 28px;
    justify-content: space-between;
}
.article-date {    
    padding-top: 5px;
    font-weight: bold;
    margin-left: 5px;    
}
.btns-group {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
}
.editArticleBtn {
    margin-right: 10px;
    border-radius:5px;
    /* border: 3px solid #3cbcc3; */
    background-color: #fefce9;
    width: 70px;
    /* outline: 5px solid #438945; */
    margin: 3px;
}
.delArticleBtn {
    margin-right: 10px;
    /* border: 3px solid #3cbcc3; */
    background-color: #fefce9;
    border-radius:5px;
    width: 70px;
    /* outline: 5px solid #438945; */
    margin: 3px;
}
.returnBtn {
    margin-right: 30px;
    border-radius:5px;
    background-color: #fefce9;
    /* border: 3px solid #3cbcc3; */
    width: 70px;
    /* outline: 5px solid #438945; */
    margin: 3px;
}


/* **********  THESE STYLES ARE IN TaskAddForm.js (in order of use)  ********** */

.addTaskContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
    padding:  7px;    
    background-color: #438945;
    /* border: 5px dashed black;  */
}
.emotions-list-examples {
    display: flex;    
    margin: 3px;
    padding: 6px;
    background-color: #fefce9;
    text-align: center;    
    border: 5px solid #438945;        
}
.card-container {
    width: 12.5%;
    background-color: #eba63f;
    outline: 3px solid #eba63f;
    
    /* border: 5px dashed black;      */
}
.cardS {
    display: flex;  
    flex-direction: column;    
    margin: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 7px;
    background-color: #fefce9;
    text-align: left;    
    /* border: 5px solid #eba63f; */
    font-size: 90%;        
}
.cardS-title {
    background-color: #e40c2b;
    text-align: center;
}
p::first-letter { 
    font-size: 125%;
    color: #438945;
    font-weight: bold;
  }
.bottomTasks {
    background-image: url("./road.jpg");    
    padding: 5px;
    border: #438945 10px solid;
    max-width: 100%;
    background-size: 35%;
    opacity:  0.9;
    /* margin: 20px; */
}
.taskInputForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #eba63f;
    font-size: 1.3em;
    font-weight: bolder;
    margin: 50px;
    padding: 5px;
    min-height: 30px;
    opacity: .75;
}
.task-input {
    width: 400px;
    font-size: .9em;
    font-weight: bold;
}
.add-form-btn {
    margin-right: 30px;
    border-radius:15px;
    border: 3px solid #438945;
    background-color: #fefce9;
    width: 70px;
    height: 35px;
}
.clear-form-btn {
    margin-right: 10px;
    border-radius:15px;
    border: 3px solid #438945;
    background-color: #fefce9;
    width: 70px;
    height: 35px;
}

/* **********  THESE STYLES ARE IN TaskEditForm.js (in order of use)  ********** */

.edit-task-container {   
    background-image: url("./multiple-children3.jpg");    
    border-radius: 30px;
    border: 20px solid #73AD21;
    max-width: 60%;
    min-height: 598px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: .95;
}

.edit-task-form {
    position: absolute;
    bottom: -42px;
    right: 282px;
    width: 330px;
    height: 250px;
    /* border: 10px solid #73AD21; */
    border: #eba63f 10px solid;
    border-radius: 30px;
    font-size: 1.3em;
    font-weight: bolder;
    padding: 10px;
    text-align: center;
}
.emotion-select {
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 10px;
    font-weight: bold;
}
.edit-due-date {
    margin-bottom: 20px;
    margin-top: 0px;
    padding: 10px;
    font-weight: bold;
}
.edit-task {
    font-size: .9em;
    width: 300px;
    padding: 5px;
    margin-left: 1px;
}
.edit-form-button {
    margin-right: 30px;
    border-radius:15px;
    /* border: 2px solid #eba63f; */
    background-color: #fefce9;
    width: 70px;
    outline: 7px solid #eba63f;
    position: absolute;
    bottom: -15px;
    right: 105px;
}