/* List.css */

/* **********  THIS STYLES ARE IN EmotionList.js (in order of use)  ********** */
.container {
    display: flex;
    border-radius:30px;
    padding: 5px;
    border: #438945 15px solid;
    max-width: 95%;
    overflow: auto;
    background-size: 100%;
    opacity:  0.85;
    overflow-y: scroll;
    align-items: baseline;        
    background-color: #438945;       
}

.left {
    display: flex;
    flex-direction: column;
    flex-basis: 65%;
}
.emotions-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;    
    margin-right: 7px;
    background-color: #438945;       
}
.bottom-left {
    background-color: #fefce9;
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 2px;
    min-height: 170px;    
}
.search {
    display: flex;
    flex-basis: 40%;
    flex-wrap: wrap;
    flex-basis: column;
    border: 5px solid #eba63f;
    background-color: #fefce9;    
    background-image: url("./pencil2.jpg");
    margin: 7px;
    max-width: 100%;
    height: 170px;
    background-size: 100% 100%;
    color: #fefce9;
    opacity:  0.8;
}
.listArticlesBtn {    
    background: #eba63f;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color: #e0f6f6;
    border-radius:10px;
    border: #fefce9 2px solid;    
    margin-top:5px;
    margin-bottom:20px;
    margin-left:10px;
    font-weight:600;
    font-size: .9em;
}
.reflect {
   margin-left: 40px;
}
.article-input {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
}
.article-textarea {
    background-color: #fefce9;
}
.journal-article {
    border: 5px solid #eba63f;
    background-image: url("./Pencil.jpg");
    margin: 7px;
    flex-basis: 60%;
    height: 170px;   
    background-color: #fefce9;
    opacity: .8;
}
.addArticleBtn {
    background: #eba63f;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color: #e0f6f6;
    border-radius:10px;
    border: #fefce9 2px solid;    
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    font-weight:600;
    font-size:0.8em;
    align-self: flex-end;
}

.right {
    display: flex;
    flex-basis: 35%;
    background-color: #eba63f;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 15px;
}
.top-right {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin-top: 0;
}
.header {
    text-align: center;
    color: #fefce9;
}
.to-be-header {
    font-size: 1.1em;
}
.header-add-task {
    display: flex;
    flex-direction: row;
    border: 7px solid #3cbcc3;
    justify-content: center;
    background-color: #fefce9;   
}
.addTaskBtn {
    background: #3cbcc3;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color: #fefce9;
    border-radius:10px;
    border: #3cbcc3 2px solid;    
    margin-top:20px;
    margin-bottom:20px;
    margin-left:16px;
    font-weight:500;
    font-size:1.1em;
  } 
.tasks-list {
    display: flex;
    flex-direction: column;
    background-color: #3cbcc3;
    /* background-color: #A1D6E2; */
    padding-right: 7px;
    padding-left: 7px;
    padding-bottom: 7px;
}


/* **********  THIS STYLES ARE IN EmotionCard.js (in order of use)  ********** */
.cardE {    
    display: flex;
    flex-direction: column;
    flex-basis: 12.5%;
    min-height: 97%;
    margin: 2px;
    padding: 5px;
    background-color: #fefce9;
    text-align: center;    
    /* border: 5px dashed black; */           
}
.cardE-img {
}
/* This is the css for emotions.emotionName */
.cardE-title {
    background-color: #e40c2b;
    /* background-color: #1995AD; */
    padding: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #fefce9;
}
/* This is the css for emotions.giftTitle */
.cardE-gift-subtitle {
    background-color: #eba63f;
    padding: 5px;
    /* background-color: #A1D6E2; */
}
/* This is the css for emotions.gift */
.cardE-gift-text {
    font-size: .8em;
    border: 2px solid #eba63f;
    margin-top: 0;
    padding: 5px;
    margin-bottom: 5px;
    /* background-color: #BCBABE; */
}
/* This is the css for IMPAIRMENT: */
.cardE-impairment-subtitle {
    background-color: #3cbcc3;
    padding: 5px;
    /* background-color: #A1D6E2; */
}
/* This is the css for emotions.impairment */
.cardE-impairment-text {
    font-size: .8em;
    border: 2px solid #3cbcc3;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 5px;   
    /* background-color: #A1D6E2; */
}
/* button-box contains the summary detail expand
.button-box {
    display: flex;
    flex-direction: column;
    order: 4;
} */
.detailBtn {
    border: 2px solid #3cbcc3;
    background-color: #e0f6f6;
    border-radius:10px;
    font-size: 1.1em;
    /* background-color: #eba63f; */
}
.modal-body {
    padding: 5px;
    width: 950px;
    border: 7px solid #438945;
}


/* **********  THIS STYLES ARE IN TaskCard.js (in order of use)  ********** */
.cardT {    
    display: flex;
    flex-direction: column;
    margin: 2px;
    padding: 5px;
    background-color: #e0f6f6;
    text-align: center;
    /* border: 5px dashed black; */
    /* flex-basis: 12.5; */
    /* align-items: stretch;         */
}
.top-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
    margin-left: 15px;
    margin-right: 15px;
}
.emotion-name {
    font-weight: bold;
    color: #3cbcc3;
}
.editBtn {
    margin-right: 12px;
    border-radius:5px;
    border: 3px solid #3cbcc3;
    background-color: #fefce9;
}
.delBtn {
    border: 3px solid #3cbcc3;
    background-color: #fefce9;
    border-radius:5px;
}
.check-box {
    color: #3cbcc3;
    font-size: 5em;
}
.bottom-line {
    display: flex;
    flex-wrap: wrap;
    background-color: #fefce9;
    padding: 3px;
}


/* **********  THESE STYLES ARE IN EmotionCard.js (in order of use)  ********** */
.articles-list { 
    background-image: url("./lantern.jpg");    
    border-radius:30px;
    margin: 0 auto 0 auto;
    padding: 5px;
    border: #438945 15px solid;
    max-width: 90%;
    overflow: auto;
    background-size: 100%;
    opacity:  0.85;
    overflow-y: scroll;
}
.cardA {
    display: block;
    max-height: 110px;
    width:800px;
    float: right; 
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    padding:7px;
    border: #3cbcc3 5px solid;
    outline: 7px solid #438945;
    overflow-y: scroll;      
    background-color: #fefce9;
}
.top-line {
    display: flex;
    flex-wrap: nowrap;
}
.article-date {    
    padding-top: 5px;
    font-weight: bold;    
}
.btns-group {
    /* border: 5px dashed yellow; */
    display: flex;
    /* justify-content: space-between; */
}
.editArticleBtn {
    margin-right: 10px;
    border-radius:5px;
    border: 3px solid #3cbcc3;
    background-color: #fefce9;
    width: 70px;
    outline: 7px solid #438945;
}
.delArticleBtn {
    margin-right: 10px;
    border: 3px solid #3cbcc3;
    background-color: #fefce9;
    border-radius:5px;
    width: 70px;
    outline: 7px solid #438945;
}
.returnBtn {
    margin-right: 30px;
    border-radius:5px;
    border: 3px solid #3cbcc3;
    background-color: #e0f6f6;
    width: 70px;
    outline: 7px solid #438945;
}


/* **********  THESE STYLES ARE IN TaskAddForm.js & TaskEditForm (in order of use)  ********** */

.addTaskContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    padding:  10px;    
    background-color: #438945;
    border: 5px dashed black; 
}
/* .topExamples {
    display: block;
     
    margin-right: 7px;
    background-color: #eba63f;
    padding: 10px;
    margin: 20px;
    border: 5px dashed blue;
} */
.emotions-list-examples {
    display: flex;
    
    margin: 5px;
    padding: 5px;
    background-color: #fefce9;
    text-align: center;    
    border: 5px dashed black;       
}
.card-container {
    width: 12.5%;
    border: 5px dashed red;
}
.cardS {
    display: flex;  
    flex-direction: column;    
    
    margin: 5px;
    padding: 5px;
    background-color: #fefce9;
    text-align: center;    
    border: 5px dashed blue;           
}
.cardS-title {
    display:flex;
    /* flex-basis: 12.5%; */
}
.bottomTasks {
    background-image: url("./road.jpg");    
    border-radius: 30px;
    /* margin: 0 auto 0 auto; */
    padding: 5px;
    border: #438945 10px solid;
    max-width: 100%;
    /* overflow: auto; */
    background-size: 50%;
    opacity:  0.8;
    margin: 20px;
    background-color: #fefce9;
    /* border: 5px dashed red; */
    
     
}
.taskInputForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #eba63f;
    font-size: 1.3em;
    font-weight: bolder;
    margin: 50px;
    padding: 5px;
    min-height: 36px;
    border-radius: 30px;
    /* border: 5px dashed orange; */
}
.form-group {
    
}
.task-input {
    width: 400px;
    font-size: .9em;
    font-weight: bold;
}
.form-control {
    /* border: 5px dashed pink; */
}
.add-form-btn {
    margin-right: 30px;
    border-radius:15px;
    border: 2px solid #438945;
    background-color: #fefce9;
    width: 70px;
    outline: 7px solid #438945;
}
.clear-form-btn {
    margin-right: 10px;
    border-radius:15px;
    border: 2px solid #438945;
    background-color: #fefce9;
    width: 70px;
    outline: 7px solid #438945;
}